@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

body {
  font-family: 微軟正黑體; }
  body li {
    list-style-type: none; }

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  opacity: 0.8; }
  @media (max-width: 568px) {
    .header {
      padding: 0 20px;
      border-bottom: 1px solid #fff; } }
  .header .header-box {
    max-width: 1024px;
    height: 70px; }
    .header .header-box .name {
      font-size: 20px; }
      .header .header-box .name a {
        text-decoration: none; }

.menu-show .d-md-flex {
  max-height: 260px; }

.header-menu .header-menu-hamburger-icon {
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  line-height: 43px;
  text-align: center; }
  @media (max-width: 568px) {
    .header-menu .header-menu-hamburger-icon {
      display: inline-block; } }
  .header-menu .header-menu-hamburger-icon i {
    color: #fff;
    font-size: 25px; }

@media (max-width: 568px) {
  .header-menu ul {
    max-height: 260px;
    overflow: hidden;
    -webkit-transition: max-height .6s;
    -o-transition: max-height .6s;
    transition: max-height .6s;
    position: absolute;
    z-index: 1;
    top: 71px;
    left: 0;
    right: 0;
    float: right;
    display: none;
    border-bottom: 1px solid #fff; } }

.header-menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 24.5px; }
  @media (max-width: 568px) {
    .header-menu ul li a {
      display: block;
      text-align: center; } }
  .header-menu ul li a:hover, .header-menu ul li a:active, .header-menu ul li a:focus {
    background-color: rgba(0, 0, 0, 0.05); }
  .header-menu ul li a.active {
    -webkit-box-shadow: 0 -3px 0 #ffc14e inset;
    box-shadow: 0 -3px 0 #ffc14e inset; }
    @media (max-width: 568px) {
      .header-menu ul li a.active {
        -webkit-box-shadow: none;
        box-shadow: none; } }

.section-img {
  overflow: hidden;
  height: 1000px;
  background: url("images/landscape1.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 568px) {
    .section-img {
      width: 100%;
      height: 768px;
      background: url("images/Mountain-pictures-1024.jpg") no-repeat;
      background-position: top center; } }
  .section-img .section-img-maintitle {
    width: 100%;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.7); }
    @media (max-width: 568px) {
      .section-img .section-img-maintitle {
        padding: 10px 0; } }
    .section-img .section-img-maintitle .maintitle {
      color: #123d5f;
      font-size: 100px;
      text-align: center;
      text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4); }
      @media (max-width: 568px) {
        .section-img .section-img-maintitle .maintitle {
          font-size: 50px; } }

.skills {
  padding: 100px;
  background: #cfdfea;
  background: #fff; }
  @media (max-width: 568px) {
    .skills {
      padding: 50px 0; } }
  .skills i {
    padding-right: 5px; }
  .skills .skills-chart {
    position: relative;
    width: 100%;
    height: 350px;
    border-left: 2px solid #777;
    border-bottom: 2px solid #777;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .skills .skills-chart .skills-chart-grid {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px dotted #777; }
      .skills .skills-chart .skills-chart-grid .skills-chart-grid-level {
        font-weight: 900;
        color: #777;
        margin: -12px 0 0 -100px; }
    .skills .skills-chart .skills-chart-bar {
      position: absolute;
      width: 6%;
      bottom: 0;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffc14e), to(#ce7f00));
      background: -webkit-linear-gradient(#ffc14e, #ce7f00);
      background: -o-linear-gradient(#ffc14e, #ce7f00);
      background: linear-gradient(#ffc14e, #ce7f00); }
      .skills .skills-chart .skills-chart-bar .skills-chart-bar-title {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        transform: translateX(-50%) translateY(-50%) rotate(-90deg); }
  .skills .skills-progress {
    height: 30px;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.45);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative; }
    .skills .skills-progress .skills-progress-bar {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      font-size: 12px;
      line-height: 30px;
      color: #fff;
      text-align: center;
      background-color: #ffc14e;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: width 1s ease;
      -o-transition: width 1s ease;
      transition: width 1s ease; }

.portfolio {
  padding: 100px;
  background: #cfdfea;
  background-color: #17a2b8; }
  @media (max-width: 568px) {
    .portfolio {
      padding: 50px 0px; } }
  .portfolio h2 {
    text-align: center; }
  .portfolio hr {
    height: 4px;
    width: 50px;
    margin: 30px auto;
    background: #fff; }
  .portfolio ul li {
    margin: 0 1% 30px 1%; }
    .portfolio ul li img {
      max-width: 100%;
      height: 200px;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .portfolio ul li img:hover {
        -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        -webkit-box-shadow: 2px 2px 5px #292929;
        box-shadow: 2px 2px 5px #292929; }

.contact {
  padding: 100px;
  background: #123d5f;
  background-color: #137e8f; }
  @media (max-width: 568px) {
    .contact {
      padding: 50px 20px; } }
  .contact h2 {
    text-transform: uppercase;
    text-align: center; }
  .contact .contact-list {
    margin: 0 0 20px 0; }
    .contact .contact-list i {
      padding-right: 10px; }
    .contact .contact-list p {
      font-size: 20px;
      line-height: 2; }
  .contact .contact-form {
    width: 60%; }
    @media (max-width: 568px) {
      .contact .contact-form {
        width: 100%; } }
    .contact .contact-form form > input {
      width: 100%;
      height: 35px;
      margin-bottom: 15px;
      padding: 0 10px;
      border-radius: 5px; }
    .contact .contact-form textarea {
      height: 150px;
      border-radius: 5px;
      padding: 0 10px; }
    .contact .contact-form .contact-form-button {
      margin-top: 10px; }

.animated {
  opacity: 0;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px); }

.fadeIn {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.footer {
  padding: 50px;
  background-color: #0c4149;
  text-align: center; }
  .footer a i {
    font-size: 40px;
    color: #fff; }
  .footer .footer-Social {
    margin: 20px 0; }
    .footer .footer-Social a {
      width: 50px;
      height: 50px;
      margin: 0 10px;
      display: inline-block;
      background: #fff;
      border-radius: 10px; }
      .footer .footer-Social a:hover {
        -ms-transform: rotate(360deg);
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        /* Safari 和 Chrome */
        -moz-transform: rotateZ(360deg);
        border-radius: 50%;
        background: #ffc14e;
        -webkit-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s; }
      .footer .footer-Social a i {
        font-size: 30px;
        line-height: 50px;
        color: #0c4149; }
  .footer p {
    color: #fff; }

.theme-default {
  width: 400px;
  margin: 0 auto; }

.nivoSlider {
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .nivoSlider:hover {
    position: relative;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; }
    .nivoSlider:hover img {
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      -webkit-transform: rotateZ(5deg);
      -ms-transform: rotate(5deg);
      transform: rotateZ(5deg); }
